<!-- Page Styles-->
<link href="./css/home.css" rel="stylesheet"/>

<div class="main">
    <div class="space"></div>
    <div class="container tim-container">
        <h1 class="text-center" id="heading-top">raising money for</h1>
        <h1 class="text-center" id="heading-bottom">AWARENESS</h1>
        <h2 class="text-center">it's a good cause so give us some money</h2>
        <p>Aenean ipsum ligula, tempus in faucibus sit amet, molestie et ante. Donec sed orci in risus porttitor fermentum. Curabitur ut ex nec arcu lobortis ultricies sed sed orci. Maecenas laoreet turpis augue, sit amet scelerisque turpis gravida sed. Donec auctor est quam, quis ornare dui pulvinar a. Sed dapibus fringilla nisl, sed dignissim orci gravida sit amet. Suspendisse dictum eget nibh ac congue. Morbi fermentum fermentum hendrerit. Nam vel ante ac orci venenatis pretium a et leo. Cras vitae luctus ante. Sed sodales ut tortor at vestibulum. Praesent volutpat sem id nunc scelerisque, ut bibendum diam feugiat. Sed luctus ex faucibus interdum tincidunt.</p>
        <p>Quisque nec dui id lacus feugiat scelerisque. Vivamus placerat sed elit commodo feugiat. Donec at consequat justo, eu ultrices nunc. Proin a egestas libero. Aliquam tincidunt risus nec consequat ultricies. Etiam vel mauris cursus, faucibus sapien nec, maximus orci. Sed euismod eleifend turpis id malesuada. Duis pulvinar lacus sed mattis imperdiet. Suspendisse convallis tempus nisi, ac viverra sapien lobortis eget. Vivamus laoreet interdum urna. Nullam urna dolor, egestas vel lacus eget, dictum vulputate arcu. Suspendisse potenti. Aliquam augue elit, varius vitae egestas et, viverra sed mauris. Pellentesque pellentesque dapibus metus, ut placerat nunc.</p>
    </div>
    <div class="space"></div>
</div>